fastapi
uvicorn
pymongo
pydantic
pydantic-settings
python-dotenv
loguru
celery
kombu
amqp
anyio
starlette
requests
python-jose
passlib
bcrypt
PyJWT
vaderSentiment
google-generativeai
